version: '3.8'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  elasticsearch:
    image: elasticsearch:7.9.3
    restart: always
    environment:
      discovery.type: single-node
    ports:
      - "9200:9200"

  redis:
    image: redis:latest
    restart: always

  django:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - elasticsearch
      - redis

volumes:
  postgres_data:
    driver: local